
/* set-up working colours  */
:root {
    --primary-color: #1d5888;
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #dff3e4;
    --redhighlight-color: rgb(207, 12, 12);
    --black-color: rgb(0, 0, 0);
}

/* Setting up the body colour */
body {
    color: var(--dark-color);

    /* UI Gradients */
background: #8e9eab;
/* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Navigation Colour */
nav {
    background-color: var(--black-color);
}

/* Footer Colour */
footer {
    background-color: var(--black-color);
}

/* Heading Color */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color)
}

main .button>a:hover {
    opacity: 0.9;
    color: var(--white-color);
}

/* Footer */
footer {
    padding-right: 1rem;
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover {
    opacity: 0.9;
    color: var(--primary-color);
}


/* Font Awesome Icon Colours*/

.bsicon {
    color: purple;
}

.jsicon {
    color: rgb(226, 221, 4);
}

.html5icon {
    color: orangered;
}


.css3icon{
    color: rgb(11,82,214);
}

.checklist :li i{
    color: var(-secondary-color);
}

code[class*="language-"],
pre[class*="language-"]{
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.dogcontainer{
    padding: 20px;
}

main>.container {
    padding: 60px 15px 0;
}


.even {
    font-weight: bold;
}

.mt-6 {
    margin-top: 6rem;
}